 
 
 h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 
 h2{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .card img{

 
    border-radius: 40px;
    border-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
 
    
 }
 
.card {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 80px;
  background-color: rgb(205, 241, 5);
 

}
.p {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-align: center;
justify-content: center;
}