
h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
color: rgb(33, 29, 2); 
}
.p{ 

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
  color: rgb(33, 29, 2); 
  }

.cars {
  background-color: rgb(88, 77, 4);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

}
.CardMedia img {
display: flex;
text-align: center;
justify-content: center;
}

