body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #ca932b;
  padding: 1rem;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 8rem;
}

.site-container {
  min-height: 100vh;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

main {
  flex: 1;
}

.btn-primary {
  background-color: #fdbb05;
  color: #431a03;
}

.rating span {
  color: #fde406
}

.img-large {
  max-width: 100%;
}


